/* Poppins Regular */
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    /* Regular */
    font-style: normal;
}

/* Poppins Medium */
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Medium.ttf") format("truetype");
    font-weight: 500;
    /* Medium */
    font-style: normal;
}

/* Poppins SemiBold */
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-SemiBold.ttf") format("truetype");
    font-weight: 600;
    /* SemiBold */
    font-style: normal;
}

/* Poppins Bold */
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Bold.ttf") format("truetype");
    font-weight: 700;
    /* Bold */
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f4f4;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    /* Regular por defecto */
}

.container_box {
    max-width: 1200px;
    width: 100%;
    height: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

header {
    height: 75px;
    display: flex;
    justify-content: center;
    position: fixed;
    right: 0;
    left: 0;
    padding: 16px 60px;
    box-shadow: 0px 4px 4.8px 0px rgba(0, 0, 0, 0.25);
    background-color: white;
    z-index: 10;
}

.header_container {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
}

.header_logo {
    max-width: 250px;
}

.header_pages {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.header_pages a {
    text-decoration: none;
    color: black;
}

.header_pages a:hover {
    color: #1b9b3c;
}

.header_nav_tablet {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.header_burguer:hover,
.header_burguer_tablet:hover {
    cursor: pointer;
}

footer {
    display: flex;
    flex-direction: row;
    padding: 30px 60px;
    gap: 50px;
    justify-content: center;
    color: white;
    background-color: #1b9b3c;
}

footer a {
    color: white;
}

footer a:hover {
    color: #072c12;
}

.footer_container {
    display: flex;
    justify-content: space-around;
    gap: 16px;
    flex-wrap: wrap;
}

.footer_pages ul {
    min-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer_contact {
    min-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 31px;
}

.footer_sm {
    min-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.contact_item {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.contact_item p {
    overflow-wrap: break-word;
    max-width: 100%;
}

.contact_img {
    border-radius: 5px;
    background: #fff;
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    min-width: 40px;
}

.sm_images {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 0 30px;
}

.sm_images a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.offcanvas.offcanvas-end {
    width: 300px;
    background-color: #f4f4f4;
    padding: 1rem;
}

.offcanvas-header .btn-close:hover {
    background-color: #1b9b3c;
}

/* MEDIAS QUERIES */
/* 1236px - Infinito */
@media (1236px < width) {

    .header_nav_tablet,
    .header_burguer {
        display: none;
    }
}

/* 768px - 1236px */
@media (768px < width <=1236px) {
    header {
        padding: 16px 18px;
    }

    .header_logo {
        max-width: 200px;
    }

    .header_nav_desktop,
    .header_burguer {
        display: none;
    }

    footer {
        padding: 20px;
    }

    .footer_pages ul,
    .footer_contact,
    .footer_sm {
        min-width: 200px;
    }

    .sm_images a img {
        width: 50px;
    }
}

/* 0 - 768px */
@media (width <=768px) {
    header {
        padding: 16px 20px;
    }

    .header_logo {
        max-width: 180px;
    }

    .header_nav_desktop,
    .header_nav_tablet {
        display: none;
    }

    /*MAIN*/
    footer {
        padding: 20px;
        font-size: 14px;
    }

    .footer_pages {
        display: none;
    }

    .footer_contact {
        min-width: 180px;
        max-width: 200px;
    }

    .footer_contact a {
        width: 30px;
        height: 30px;
        min-width: 30px;
    }

    .footer_sm {
        min-width: 180px;
        max-width: 200px;
        text-align: center;
    }

    .footer_sm .sm_images a img {
        width: 38px;
    }

    .contact_item p {
        max-width: 130px;
    }
}

/* 0 - 1100px */
/* 0 - 450px */
@media (width <=450px) {
    .footer_contact {
        align-items: center;
    }
}

/* 0 - 380px */

/*# sourceMappingURL=style.css.map */